html.no-js(lang="en")
	head
		- var localEnv = false
		- var cssVersion = 3.6
		- var jsVersion = 2

		- var assetBase = localEnv ? '' : 'http://nkwalton.brighamyounguniv.netdna-cdn.com/';
		- var extension = localEnv ? '.html' : '';

		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		block title
			title Nate Walton: #{page.title}
		meta(name='description', content='Description about your department.')
		meta(name='author', content='Your Department Name')
		meta(name='keywords', content='keyword 1, keyword 2, keyword 3')
		meta(name='viewport', content='width=device-width, , initial-scale=1')

		// Place favicon.ico and apple-touch-icon.png in the root directory
		link(rel='shortcut icon', href=assetBase + 'favicon.ico?v=3')

		// Styles
		link(rel='stylesheet', href=assetBase + 'css/style.css?v=' + cssVersion)

		// Scripts loaded via script loader. See notes in init.js file.
		script(type="text/javascript", src="//use.typekit.net/nyn3skg.js")
		script(type="text/javascript").
			try{Typekit.load();}catch(e){};
			window.localAssets = #{localEnv};
			window.jsVersion   = #{jsVersion};
		script(src= assetBase + 'js/init.min.js?v=' + jsVersion)

	body(class=page.menu)
		header.main
			h1 
				a(href="/") Nate Walton
			nav
				a.home(href="/") Home
				a.work(href="/portfolio" + extension) Work
				a.teaching(href="/students" + extension) Teaching
				// a.contact(href="/contact" + extension) Find me

		block content

		footer.main
