extends _layout

block title
	title Nate Walton

block content

	.feature
		for quote in quotes
			.quote!= quote.text
			.byline!= quote.byline
	.content
		for block in contents
			.wrapper
				.heading!= block.heading
				for image in block.images
					a(href=image.href)
						img(src=image.url, title=image.title)
