extends ../_layout

block content

	div.main.portfolio
		nav
			a.ir.next(href="#") Next slide
			a.ir.prev(href="#") Previous slide
		#intro.project(data-project="0")
			.title
				h2!= page.title
			#intro-0.slide.intro.last
				.wrapper
					.sizable
						//- Render list
						for project in projects
							.projectlinks
								a.projectLink(href='#' + project.id)
									span.projectDesc 
										// span.projectType #{project.desc}
										span.projectTitle!= project.title
									each slide, i in project.slides
										if i === project.thumbnail
											picture
												- var img = slide.image + slide.ext
												img(src="img/400w/" + img,
													sizes="(min-width:768px) 30vw,(min-width:480px) 43vw, 80vw",
													srcset="img/400w/" + img + " 400w, img/800w/" + img + " 800w, img/1600w/" + img + " 1600w",
													alt=project.title )
								span.slidelinks
									each slide, i in project.slides
										- var extension = '-' + i;
										if i === 0
											- extension = '';
										a.sublink(href='#' + project.id + extension)


		//- Render projects
		- var projectNum = 0;

		for project in projects
			- projectNum += 1;
			- var numSlides = project.slides.length, last = '';
			- if (!numSlides) { last = ' last' }
			.project(data-project=projectNum, id=project.id)
				.title
					h2
						a(href='#' + project.id)!= project.title
				div(id=project.id + '-0', class='slide intro' + last)
					.wrapper
						.introimage
							img.lazy.titleImage(data-src=project.image, data-ext='', alt='')
					.wrapper
						.introtext
							h3 #{project.desc}
							p
								span.dropcap(style="margin-left:" + project.capoffset)!= project.cap
								span.leader(style="margin-left:" + project.leaderoffset)!= project.leader
								span!= project.text


				//- Render slides 

				- var slideNum = 0,  last = '';

				for slide in project.slides

					- if (slideNum == numSlides - 1) { last = ' last'; }
					- slideNum += 1;

					div(id=project.id + '-' + slideNum, class='slide' + last)
						.wrapper.buttonwrapper
							.button.sizable
								a.ir.infobutton(href="#") Show info
						.wrapper.imagewrapper
							.image.sizable
								img.lazy.responsive(alt=slide.alt,
									data-src=slide.image,
									data-ext=slide.ext)
								noscript
									img(alt=slide.alt,
										src= assetBase + 'img/400w/' + slide.image + slide.ext)
						.wrapper.textwrapper
							.info.sizable
								.infoinner


									//- Render specs
									for item in slide.specs
										h3 #{item.title}
										ul
											for listItem in item.list
												li!= listItem